/*
@media (max-width: 766px) {
.fa-bars{
    display: block;
}
    
.topnav {
    overflow: hidden;
    /* background-color: white; */
    position: relative;
  
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  
  .topnav a.icon {
    /* background: white; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    /* background-color: white; */
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: black;
    
    
  }


} */
