/* All Pages CSS  */



body{
    margin: 0;
    height: 65vh;
    font-family: 'Cormorant Garamond', serif;
    font-size: 19px; 
    /* font-family: Roboto, serif; */ 
    /* font-size: 17px; */ 

    
   
}

a{
    color: #060;
    text-decoration: none;
}
a:hover,
a:focus{
    /* color: #013801; */
    color: grey;

}



.socialLinks:hover,
.socialLinks:focus{
    color:  #060;
}
.googleScholarFooter:hover{
    filter: invert(24%) sepia(73%) saturate(1263%) hue-rotate(87deg) brightness(98%) contrast(107%)
}





.name{
    padding-left: .5em;

}


.fs-edit-link,
.fs-sign-link,
.formswift-button,
.fa-bars,
.fa,
.icon{
    display: none;
    width: 0;
}

.socialLinksContainer{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.socialLinks{
    color: black;
    font-size: 20px;
    vertical-align: middle;
   
}

.googleScholar >img {
    height: 30px;    
    vertical-align: middle;
    padding-left: .75rem;
    filter: invert(15%) sepia(99%) saturate(2907%) hue-rotate(101deg) brightness(103%) contrast(105%);

    
}

.googleScholar >img:hover{
    filter: invert(46%) sepia(19%) saturate(0%) hue-rotate(275deg) brightness(104%) contrast(93%);
}

.googleScholarFooter{
    height: 30px;    
    vertical-align: middle;
    padding-left: .75rem;
}

/* This is a random test */


/* .googleScholar >img:hover,
.googleScholarFooter:hover{
    
} */



.topnav {
    overflow: hidden;
    /* background-color: white; */
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 1em 1em;

}


.name-link{
    font-size: 25px;

}

#myLinks{
     
    width: 40%;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    padding-right: .3em;
    font-size: 25px;
    
    
}



.nav-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.name-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.name-link:hover,
.name-link:focus{
  color: #060;
}


.underline{
    border-bottom: 1px solid #060;
    padding-bottom: .25em
}


@media (max-width: 900px) {
    .fa-bars,
    .fa{
        display: block;
    }
    /* nav{
        width: 100%;
    } */
    .topnav {
        margin: 0px;
        overflow: hidden;
        background-color: #F2F2F2;
        position: relative;
        display: block;
        text-align: left;
        padding: .75rem;
        /* min-width: 100%; */
        /* position:fixed; */
        right:0px;
        top:0px;
        width: 100%;
      
    }
    .topnav #myLinks {
        display: none;
        width: 90%;
    }


    .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        /* font-size: 17px; */ 
        font-size: 19px; 
        display: block;
    }
    
    .topnav a.icon {
        background: #F2F2F2;
        display: block;
        position: absolute;
        right: 15px;
        color: black;
        top: 20%;
        padding-right: 2em;
    }
    
    
    .topnav a:hover {
        background-color: #F2F2F2;
        color: black;
    } 
    .nav-link-first{
       
        margin-top: 50px;
    }
    .nav-link{
       
        width: 90%;
        text-align: right;
    }
    

} 

footer{
    margin-top: 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-height: 68px;
    min-height: 68px;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}
.socialFooter{
    
    width: 50%;
    display: flex;
    justify-content: space-around;
}



/* End All */
















/* HomePage CSS */

.profilePicture{
    height: 300px;
    width: auto;
}

.homeContainer{
    text-align: center;
    /* padding: .5em; */ 
    padding: 0.5em;
    letter-spacing: .1em;
    line-height: 1.2em;
    display: flex;
    flex-direction: row;  
}

.socialLinksMain{
    margin: 1em;
    font-size: 20px;
    text-decoration: none;
}


.education{
    margin: 2em 0 0 0;
}




/* picture columnn */ 
.col1{
    /* height: 50vh; */
    /* width: 40%; */ 
    height: 90%; 
    width: 40%;
    align-self: center; 
}




/* about me columnn [controls center line] */ 
.col2{ 
    /* height: 50vh; */
    height: 50vh; /* this controls length of center line*/ 
    width: 70%;
    
    /* margin: 2em .75em; */ 
    margin: 0.2em 0.75em; 
    text-align: left;
    padding: 100px;
    align-self: center; 
    border-left: 1px solid lightgrey;
}



@media (max-width: 900px) {
    
    .homeContainer{
        flex-direction: column;
        justify-content: center;
        /* padding-right: 100px; */
        align-items: center;
        align-content: center;
    }
    
    
    h1{
        width: 300px;
        margin: 20px auto 10px auto;
    }

    
    
    /* picture columnn */ 
    .col1{
        /* height: 50%; */ 
        height: 90%; 
        width: 300px;
        margin: 0;
        /* padding-right: 100px; */
    }
    
    
    /* about me columnn */ 
    .col2{
        /* padding: 0 10px; */
        /* height: 50%; */ 
        height: 90%; 
        width: 300px;
        text-align: left;
        margin: 0;
        border-left: none;
        /* padding: 1.2em; */ 
        padding: 0.2em; 
    }
    
    
}


/* End Home  */















/* Publications CSS */


.publishedPaperMain{
    padding: 0 9em 4em 9em;
   
}

.publicationsList{
    list-style-type: none;
    margin-bottom: 2em;
    line-height: 1.3em;
    text-indent: -36px;

}
.publicationsTitle{
    border-bottom: 1px solid lightgrey;
    padding-bottom: .5em;
    font-size: 1.75em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.publicationsSectionTitle{
    margin-top: 3em;
    font-size: 1.25rem;
    font-style: italic;
}


@media (max-width: 900px) {

    .publishedPaperMain{
        padding: 3rem;
        margin: 0 auto;
        /* overflow-x: hidden; */
        word-wrap: break-word;
        /* smin-width: 280px; */
        
       
    }


}

/* End publications */














/* Code CSS */

.codeMain{
   
    margin: 0 1em 3em 1em; 
    line-height: 1.5em;
    padding: 0 9em 5em 9em;
}



.codeSectionTitle{
    margin-top: 3em;
    font-size: 1.25rem;
    /* font-style: italic; */
}
.codeTitle{
    border-bottom: 1px solid lightgrey;
    padding-bottom: .5em;
    font-size: 1.75rem;
    margin-bottom: 2em;
    margin-top: 2rem;
}
@media (max-width: 900px) {

    .codeMain{
        padding: 2em;
    }

}

/* End Code */















/* Code Teaching */

.teachingMain{
   
    margin: 0 1em 3em 1em; 
    line-height: 1.5em;
    padding: 0 9em 5em 9em;
}



.teachingSectionTitle{
    margin-top: 3em;
    font-size: 1.25rem;
    /* font-style: italic; */
}
.teachingTitle{
    border-bottom: 1px solid lightgrey;
    padding-bottom: .5em;
    font-size: 1.75rem;
    margin-bottom: 2em;
    margin-top: 2rem;
}
@media (max-width: 900px) {

    .teachingMain{
        padding: 2em;
    }

}

/* End Teaching */








